# dependencies
/node_modules
/.pnp
.pnp.js

# local env files
# WARNING: .env is not ignored for GitHub Advanced Security demo purposes
# In production, you should ALWAYS ignore .env files
.env*.local
# .env

